/* reset css */
* {
	box-sizing: border-box;
	margin: 0;
}
body {
	font-family: Helvetica;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header,
footer {
	display: flex;
	align-items: center;
	height: 50px;
}
header {
	padding-left: 15px;
	background-color: #000;
	color: #fff;
	box-shadow: 1px 1px 3px 2px #dfd5d5;
}
main {
	flex-grow: 1;
}
#launches {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px auto 0 auto;
	width: 950px;
	flex-wrap: wrap;
}
.card {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 3px;
	width: 250px;
	height: 150px;
	margin: 5px;
	border-radius: 7px;
	border: 3px solid #000;
}
footer {
	justify-content: center;
}
