<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Express Skills</title>
</head>
<body>
    <h1>Skills as of <%= time %></h1>
    <ul>
    <% skills.forEach(function(skill, idx) { %>
      <li>
        <form action="/skills/<%= idx %>?_method=DELETE" method="post">
          <button type="submit">X</button>
        </form>
        <a class='skill-a' href="/skills/<%= idx %>">
          <%= skill.text %>
        </a>
      </li>
    <% }); %>
  </ul>
  <a class='add-skill-a' href="/skills/new">Add skill</a>
</body>
</html>